label {
    color: white;
    font-size: 2em;
}

p {
    color: white;
}

h1 {
    font-family: Trebuchet MS;
}

#overlay {
    opacity: 0.7;
    background: #000;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
}

.bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 6px;
    overflow: hidden;
}

.bar li.item {
    float: left;
}

.bar li a.item {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.sidebar {
    width: 500px;
    height:
    margin: auto;
    background: white;
    float: right;
    display: inline-block;
}

.sidebar.item {
    float: left;
}

.btn {
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    font-family: Segoe UI;
    color: #ffffff;
    font-size: 60px;
    background: #494973;
    padding: 10px 20px 10px 20px;
    text-decoration: none;

    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.btn:hover {
    background: #1a6a9c;
    text-decoration: none;
}
